git+https://github.com/signalfx/python-celery.git@0.0.1post0#egg=celery-opentracing
git+https://github.com/signalfx/python-dbapi.git@v0.0.5post0#egg=dbapi-opentracing
git+https://github.com/signalfx/python-django.git@0.1.18post1#egg=django-opentracing
git+https://github.com/signalfx/python-elasticsearch.git@0.1.4post1#egg=elasticsearch-opentracing
git+https://github.com/signalfx/python-flask.git@1.1.0post1#egg=flask_opentracing
git+https://github.com/signalfx/python-pymongo.git@v0.0.3post1#egg=pymongo-opentracing
git+https://github.com/signalfx/python-redis.git@v1.0.0post1#egg=redis-opentracing
git+https://github.com/signalfx/python-requests.git@v0.2.0post1#egg=requests-opentracing
git+https://github.com/signalfx/python-tornado.git@1.0.1post1#egg=tornado_opentracing
sfx-jaeger-client>=3.13.1b0.dev2