opentracing==2.0.0
https://github.com/signalfx/python-flask/tarball/adopt_scope_manager#egg=flask_opentracing
https://github.com/signalfx/python-django/tarball/django_2_ot_2_jaeger#egg=django-opentracing
https://github.com/signalfx/python-dbapi/tarball/master#egg=dbapi-opentracing
https://github.com/signalfx/python-pymongo/tarball/master#egg=pymongo-opentracing
https://github.com/opentracing-contrib/python-redis/tarball/v1.0.0#egg=redis-opentracing
https://github.com/signalfx/python-requests/tarball/master#egg=requests-opentracing
https://github.com/signalfx/jaeger-client-python/tarball/ot_20_http_sender#egg=jaeger-client
tornado_opentracing==1.0.1
wrapt
