https://github.com/signalfx/opentracing-python/tarball/flask_scope_manager#egg=opentracing
https://github.com/signalfx/python-flask/tarball/use_flask_scope_manager#egg=flask_opentracing
https://github.com/signalfx/python-django/tarball/django_2_ot_2_jaeger#egg=django-opentracing
git+ssh://git@github.com/signalfx/python-dbapi.git#egg=dbapi-opentracing
git+ssh://git@github.com/signalfx/python-pymongo.git#egg=pymongo-opentracing
https://github.com/signalfx/python-redis/tarball/ot_v2.0#egg=redis-opentracing
git+ssh://git@github.com/signalfx/python-requests.git#egg=requests-opentracing
tornado_opentracing
wrapt
